@{
    ViewBag.Title = "About Reminder";
}
<h2>@ViewBag.Title</h2>

<p>Reminder is a social Web site that allows you to connect with friends, family, and colleagues and keep track of important events. Never forget another birthday, anniversary, or any other special occasion.</p>
<p>To use this application, first register a user profile with this site.</p>
<p>Once you have a user profile, create a relationship. This connects you with the other person and defines your relationship with that person.</p>
<p>Once you have added a relationship, you can add event(s) pertaining to that relationship, such as birthdays, anniversaries, or other special occasions.</p>
<p>Also, once you have added a relationship, you can send a message to the person with whom you have connected.</p>
