@{
    ViewBag.Title = "Contact Reminder Team";
}
<h2>@ViewBag.Title</h2>

<address>
    Colin Dunn<br />
    1437 Hillcot Ln.<br />
    Indianapolis, IN 46231-4210<br />
    <abbr title="Phone">P:</abbr>
    317.640.5617
</address>

<address>
    <strong>Contact:</strong>   <a href="mailto:dunncolinj@gmail.com">dunncolinj@gmail.com</a><br />
</address>