@{
    ViewBag.Title = "Reminder Home";
}

<div class="jumbotron jumbo-custom">
    <h2>REMINDER</h2>
    <p class="lead">Reminder is a social Web site that allows you to connect with friends, family, and colleagues and keep track of important events. Never forget another birthday, anniversary, or any other special occasion.</p>
    <center><img src="~/assets/messy-desk.jpg" /></center>
</div>
