@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Reminder</h1>
    <p class="lead">Reminder is a social Web site that allows you to connect with friends, family, and colleagues and keep track of important events. Never forget another birthday, anniversary, or any other special occasion.</p>
</div>
