/* Define variables for color scheme */
:root {
    --light-gray: #d6d6d6ff;
    --aureolin: #ffee32ff;
    --cyber-yellow: #ffd100ff;
    --eerie-black: #202020ff;
    --jet: #333533ff;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: serif;
    color: var(--jet);
    background-color: var(--cyber-yellow);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

html {
    font-family: sans-serif
}

code, kbd, pre, samp {
    font-family: monospace
}

button, input, optgroup, select, textarea {
    font-family: inherit
}

.tooltip {
    font-family: sans-serif
}

.popover {
    font-family: sans-serif
}

.text-monospace {
    font-family: monospace
}